*
{
	
}
body
{

}

.main{
	margin-top: 50px;
	margin-bottom: 50px;
}
#imghe
{
	width: 90px;
	height: 40px;
	margin-top: 2px;
}
.navbar-brand{
	margin-left: 10px;
	padding: 3px;
}
.colim
{
	width: 200px;
	height: 200px;
	margin: auto;
}
.imgppal
{
	width: 200px;
	height: 200px;
	margin-top: 60px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.navbar{
	border-radius: 0px;
	margin-bottom: 0px;
	
}
 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
      opacity: 0.
  }
 .imgcarrusel{
 	width: 100px;
 	height: 100px;
 }
 .login{
 	margin-right: 10px;
 }
  
.carousel-inner > .item > div > blockquote p{
      opacity: .8;
	    border-radius: 10px;
	    padding: 11px;
	
  }
@media (min-width: 0px) {
	.carousel-inner > .item > div > blockquote {
      display: none;
  }
}
@media (min-width: 420px) {
	.carousel-inner > .item > div > blockquote {
		display: block;
      	text-align: left;
      	font-size: 10px;
      	
  }
} 
  @media (min-width: 600px) {
	.carousel-inner > .item > div > blockquote {
      font-size: 20px;
  }

 }
 @media (min-width: 992px) {
	.carousel-inner > .item > div > blockquote {
      font-size: 30px;
  }

 }
 .registrar{
 	margin-top: 20px;
 	float: left;
 	margin-bottom: 20px;
 }

@media (min-width: 767px) {
	.registrar{
	float: right;
 	
 	}
}
.tgestion{
	margin-top: 20px;
	margin-bottom: 20px;
}
#acciones{
	width : 160px;
}
#acciones .rowbaja{
	width : 50px;	
}
#acciones .rowedit{
	width : 50px; 
	margin-left : 30px;
}

#form1 .modal-footer .btn-default{
	float: left;
}

#form1 .modal-footer .btn-primary{
		float: right;
}
#form1 .modal-footer .btn-danger{
	margin-top: 50px;
	margin-right: -75px;
}
@media (min-width: 420px) {
	#form1 .modal-footer .btn-danger{
	margin-top: 0px;
	margin-right: 0px;
	}
	
	
	 
}

#form2 .modal-footer .btn-default{
	float: left;
}

#form2 .modal-footer .btn-primary{
		float: right;
}
#form2 .modal-footer .btn-danger{
	margin-top: 50px;
	margin-right: -131px;
}
@media (min-width: 420px) {
	#form2 .modal-footer .btn-danger{
	margin-top: 0px;
	margin-right: 0px;
	}
	
	}
.acciones{
	text-align: center;
}
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 45px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}
.dataTables_paginate{
	margin-top: 10px;
}
.dataTables_paginate a {
  margin-left: 10px;
  cursor:pointer; 


 
}
.dataTables_filter label{
	margin-top: 10px;
}
.dataTables_filter label input{
	margin-left: 10px;
}
.table-responsive{
	padding-top: 20px;
	padding-bottom: 20px;
}
.login label{
	margin-top: 15px;
    color: #9d9d9d;
    padding-left: 15px;


}
.login label a{
   color: #D2B48C;

}
.carusel{
	padding: 0px;
}
.navbar-inverse .navbar-nav>li>a {
	cursor: pointer;
}